---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2024 The Linux Foundation

name: "⛔️ Standalone Linting"

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths:
      - "!.github/"
    branches:
      - "*"
      - "!update-devops-tooling"

permissions: {}

jobs:
  linting:
    name: "Standalone linting checks"
    permissions:
      contents: read
    # yamllint disable-line rule:line-length
    uses: os-climate/osc-github-devops/.github/workflows/reuse-linting.yaml@37f0421682229337d814d015a55de9987783febe # 2025-01-14
